{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_profiles/css/user.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-white" style="padding-top: 5%;">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 text-light">
                <p>Default Delivery Information</p>
                <form class="mt-3" action="{% url 'user' %}" method="POST" id="user-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right primaryAction">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 text-light">
                <p class="text-white">Purchase History</p>
                <div class="Purchase-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead class="text-light">
                            <tr>
                                <th>Purchase Number</th>
                                <th>Date</th>
                                <th>Merchandise</th>
                                <th>Purchase Total</th>
                            </tr>
                        </thead>
                        <tbody class="text-light">
                            {% for purchase in purchases %}
                                <tr>
                                    <td>
                                        <a href="{% url 'purchase_history' purchase.purchase_number %}" class="text-warning"
                                        title="{{ purchase.purchase_number }}">
                                            {{ purchase.purchase_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ purchase.date }}</td>
                                    <td>
                                        <ul class="list-unstyled text-white">
                                            {% for item in purchase.lineitems.all %}
                                                <li class="small">
                                                    {% if item.merch.has_sizes %}
                                                        ClothingSize {{ item.merch.clothing_size|upper }}
                                                    {% endif %}{{ item.merch.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ purchase.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'user_profiles/js/countryfield.js' %}"></script>
{% endblock %}