{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row" style="margin-top: 5%;">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if merch.image %}
                <a href="{{ merch.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ merch.image.url }}" alt="{{ merch.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ merch.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="merch-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ merch.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ merch.price }}</p>
                {% if merch.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-white" href="{% url 'merchandise' %}?category={{ merch.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ merch.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if merch.rating %}
                <small class="text-white"><i class="fas fa-heart mr-1"></i>{{ merch.rating }} / 5</small>
                {% else %}
                <small class="text-white">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_merch' merch.id %}" class="text-warning">Edit</a> /
                        <a href="{% url 'delete_merch' merch.id %}" class="text-warning">Delete</a>
                    </small>
                {% endif %}
                <!-- <iframe src="https://open.spotify.com/embed/album/2O619TMmH89ZWugaL99nzl?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> -->
                {% if merch.category.name == 'album' %}
                <iframe src="https://open.spotify.com/embed/album/2O619TMmH89ZWugaL99nzl?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                {% else %}
                <p class="mt-3">{{ merch.description }}</p>
                {% endif %}
                <form class="form" action="{% url 'shopping_cart_quantity' merch.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with merch.has_sizes as s %}
                        {% if s %}
                        <div class="col-12">
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="merch_size" id='id_merch_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ merch.id }}">
                                    <div class="input-group-prepend">
                                        <button
                                            class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ merch.id }} primaryAction"
                                            data-merch_id="{{ merch.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ merch.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-merch_id="{{ merch.id }}">
                                    <div class="input-group-append">
                                        <button
                                            class="increment-qty btn btn-black rounded-0 increment-qty_{{ merch.id }} primaryAction"
                                            data-merch_id="{{ merch.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'merchandise' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left text-warning"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5 primaryAction" value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row comment-body">
        <div class="col-md-8 card mb-5 mt-5" style="background-color: rgba(83, 0, 0, 0.623);">
            <h3 class="text-white" style="padding-top: 4%;">Comments:</h3>
            <div class="card-body text-white">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="background-color: rgba(98, 43, 96, 0.397);" >
                    <p class="font-weight-bold">
                        <!-- The name goes here. -->
                        {{ comment.name }}
                        <span class="font-weight-normal">
                            <!-- The comment created date goes here -->
                            {{ comment.added_on }}
                        </span>
                    </p>
                    <!-- The body of the comment goes before the | -->
                    <p id="comment-message">{{ comment.message}}</p>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-5 mt-5" style="background-color: rgba(114, 0, 0, 0.288);">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}    
                <h3 class="text-white">Comment:</h3>
                <p class="text-white">Posting as: {{ user.username }}</p>
                <form method="POST" style="margin-top: 1.3em;" action="">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg" 
                    style="background: linear-gradient(0.25turn, #900000, #6A2659, #900000);">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'merchandise/includes/merch_number_script.html' %}
{% endblock %}