{% load static %}

<footer class="page-footer font-small stylish-color-dark pt-4 footer-div">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase text-light mt-3 mb-4">Stay Weird Studios</h5>
        <p class="text-light">
          Founded in 2016 by local Limerick artist Evan Murphy, Stay Weird Studios has produced some great albums such
          as
          <a href="https://open.spotify.com/album/2O619TMmH89ZWugaL99nzl?si=sIQ5UrNPRLalTgq5SAiKLQ" target="_blank"
            class="text-warning">Take What You Will</a>
        </p>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase text-light footer-feedback" style="margin-left: 10%;"><a
            href="https://goo.gl/maps/u7UTgVs1LCiPBcNr9" target="_blank"></a>Find us in Limerick city!</h5>
        <a class="text-white nav-link" href="{% url 'feedback_form' %}">
          <p class="text-uppercase text-warning" style="margin-left: 10%;">Give us feedback!!</p>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item footer-list">
      <a class="btn-floating btn-fb mx-1 primaryAction" href="https://www.facebook.com/stayweirdstudios" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="list-inline-item footer-list primaryAction">
      <a href="{% url 'contact_form' %}">Contact us</a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2022 Copyright:
    <a href="https://github.com/Diabekki" id="github" target="_blank" class="text-warning"><i
        class="fab fa-github"></i>Rebecca Tubridy</a>
  </div>
  <!-- Copyright -->

  <!-- Begin Mailchimp Signup Form -->
 

  <!--End mc_embed_signup-->

</footer>

{% block postloadjs %}

{% endblock %}