{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'feedback/css/feedback.css' %}">
{% endblock %}


<div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you!</h1>
      <hr>
      <p>Thanks for rating us!</p>
      <p>Your rating and feedback will help us improve our website and will help us keep growing.</p>
      <p>Stay Weird!</p>
      <hr>
    </div>
    <div class="footer-like">
      <p>
        <a href="{% url 'homepage' %}">Return to main page</a>
      </p>
    </div>
  </div>
</div>
